<h1>Edit Question</h1>
<form method="POST" action="/questions/<%= question.id %>">
  <input type="hidden" name="_method" value="PUT">

  <div>
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="<%= question.title %>" required>
  </div>
<p></p>
  <div>
    <div>
      <label for="body">Question:</label>
    </div>
    <textarea name="body" id="body" cols="25" rows="10" required><%= question.body %></textarea>
  </div>
  <button type="submit" class="edit-btn">Save Changes</button>



</form>
