  <main>
    <section class="question-list">
      <h2>Questions</h2>
      <ul>
      
      </ul>
    </section>

    <section class="sidebar">
      <h2>Info about coding</h2>
      <p>Some general knowledge how to ask questions etc how to answer.</p>
    </section>
  </main>

