  <main>
    <section class="question-list">
      <h2>Need coding help? Ask a question!</h2>
      <ul>
      
      </ul>
    </section>

    <section class="sidebar">
      <h2>How to be great at asking coding questions</h2>
      <ol>
        <li>1. Understand the code to the best of your ability.</li>
        <li>2. Clearly describe the problem.</li>
        <li>3. Provide the code that illustrates the problem.</li>
        <li>4. Make sure the code you're sharing can reproduce the problem.</li>
        <li>5. Format your code consistently.</li>
        <li>6. Check yourself for typos.</li>
        <li>7. Explain what you did to troubleshoot the problem.</li>
        <li>8. Explain what you think the problem might be.</li>
        <li>9. Proofread your question.</li>
        <li>10. Send updates and remember this will not be your last question.</li>
      </ol>
      <h3>Sign up to start asking questions!</h3>
      <h3>You can even help others by answering their questions</h3>
    </section>
  </main>

