  <main>
    <section class="question-list">
      <h2>Need coding help? Ask a question!</h2>
      <ul>
      
      </ul>
    </section>

    <section class="sidebar">
      <h2>How to be great at asking coding questions</h2>
      <ol>
        <li>Understand the code to the best of your ability.</li>
        <li>Clearly describe the problem.</li>
        <li>Provide the code that illustrates the problem.</li>
        <li>Make sure the code you're sharing can reproduce the problem.</li>
        <li>Format your code consistently.</li>
        <li>Check yourself for typos.</li>
        <li>Explain what you did to troubleshoot the problem.</li>
        <li>Explain what you think the problem might be.</li>
        <li>Proofread your question.</li>
        <li>Send updates and remember this will not be your last question.</li>
      </ol>
      <h3>Sign up to start asking questions!</h3>
    </section>
  </main>

