<h1>Login</h1>

<form method="POST" action="/login">
  
    <div>
      <label for="email" class="login-email">Email:</label>
      <input type="email" id="email" name="email">
    </div>

    <div>
      <label for="password" class="login-pass">Password:</label>
      <input type="password" id="password" name="password">
      <button type="submit" class="login-sign-btn">Login</button>
    </div>
    

  </form>
  