<main>
  <h1>New Answer</h1>

  <form action="/questions/<%= questionId %>/answers" method="POST">
    <label for="answer_text">Answer Text:</label>
    <textarea name="answer_text" id="answer_text" rows="5" required></textarea>

    <input type="submit" value="Submit Answer">
  </form>
</main>



