<h1>New Question</h1>

<form action="/questions" method="POST">
  <label for="title" class="new-quest">Title:</label>
  <input type="text" name="title" id="title" required>
<p></p>

<div>
  <div>
    <label for="body">Question:</label>
  </div>  
  <textarea name="body" id="body" cols="25" rows="10" required></textarea>
</div>
<button type="submit" class="quest-btn">Create Question</button>

  
</form>
