<main>

  <h1>Signup</h1>

  <form method="POST" action="/signup">

    <div>
      <label for="username" class="signup-user">Username:</label>
      <input type="text" name="username" id="username">
    </div>
<p></p>
    <div>
      <label for="email" class="signup-email">Email:</label>
      <input type="email" id="email" name="email">
    </div>

    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
      <label for="password_confirmation">Confirm Password:</label>
      <input type="password" name="password_confirmation" id="password_confirmation" required />
      <button type="submit" class="login-sign-btn">Signup</button>
    </div>

  </form>

</main>

