html, body {
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #9f9f9f;
    padding: 15px;
    color: white;
}

.welcome-user {
    font-size: 18px;
    text-align: end;
}

li {
    list-style: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

main {
    padding: 15px;
}

footer {
    background-color: #9f9f9f;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

a {
    color: #5f99cf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 130px;
    padding: 8px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    background-color: #5f99cf;
    color: white;
  }
  
  button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.994);
    background-color: rgb(0, 146, 244, 1);
  }

.btn-danger {
    background-color: rgb(252, 221, 221);
    padding: 5px 0;
    color:  black;
    box-shadow: 0 0 20px rgba(250, 64, 1, 0.2);

} 

.btn-danger:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(245, 0, 0);
    background-color: rgb(221, 0, 0);
    
}

textarea {
    background-color: #454444;
    color: white;
}

.ask-question {
    font-size: 18px;
    
}
